{% extends 'BigElibreBundle:Default:index.html.twig' %}

{% block content %}

<h3 class="themeTitle">Тема: {{ selectedTheme.getTitle() }}</h3>

<ul class="themesList">
  {% for cur_theme in subthemes %}
        <li>
            <a href="{{ path('big_elibre_theme', {'theme_code': cur_theme.code,  'action' : 'view' }) }}" >
                <img src="{{ asset('bundles/bigelibre/images/icons/folder3.png') }}" class="icon"> {{ cur_theme.title }}
            </a>
        </li>
  {% endfor %}
    </ul>
    <ul class="docList">
  {% for doc in documents %}
            <li><a href="{{ path('big_elibre_doc', {'doc_id': doc.id,  'action' : 'view' }) }}" title="{{ attribute(doc, 'title') }}{% if doc.annotation %}<p>Аннотация: {{ attribute(doc, 'annotation') }}</p>{% endif %}">
    {# {% if doc.icon %}
                            <img src="{{ asset('bundles/bigelibre/images/icons/') }}{{ doc.icon }}" class="icon">
    {% endif %} #}
                            {{ attribute(doc, 'title') }}
                        </a>
                        <a class="download" href="{{ path('big_elibre_doc', {'doc_id': doc.id,  'action' : 'download' }) }}" title="Скачать документ"><img src="{{ asset('bundles/bigelibre/images/icons/') }}{{ doc.icon }}"></a>
                    </li>
  {% else %}
                    нет документов
  {% endfor %}
                </ul>

{% endblock %}
